[submodule "speos/visualization/graphdiagnostic"]
	path = speos/visualization/graphdiagnostic
	url = git@github.com:fratajcz/graphdiagnostic.git
[submodule "speos/losses"]
	path = speos/losses
	url = git@github.com:fratajcz/losses.git
